---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ metadata.url }}/</loc>
    <lastmod>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
    <priority>1.0</priority>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>{{ metadata.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <priority>0.8</priority>
  </url>
  {% endfor %}
</urlset>
